.post-container{
    padding: 1rem;
}

h1{
    margin-bottom: 1rem;
}

.posts-table {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.posts-table td,
.posts-table th {
    border: 1px solid #ddd;
    padding: 1rem;
}

.posts-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.posts-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
}

.justify-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.justify-between button{
    border: 1px solid lightgrey;
    padding: 0.1rem;
    font-size: 2.1rem;
    background-color: none;
}